@using PagedList;
@model IPagedList<MechanicTracker.booking>
@using MechanicTracker.Models;
<label class="labelheader">Bookings</label>
@if (Model.Any() && Model != null)
{
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().car.Registration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().car.model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().car.model.ModelName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.car.Registration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.car.model.make.MakeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.car.model.ModelName)
                </td>
                <td>
                    <span class = "btn btn-danger btn-xs" onclick="details(@item.BookingID)">Booking Details</span>
                </td>
            </tr>
        }

    </table>
    <div class="pagedList" data-otf-target="bookingsList">
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
            {
                UlElementClasses = new[] { "pagination", "pagination-sm" },
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayLinkToIndividualPages = true,
                MaximumPageNumbersToDisplay = 5,
                DisplayEllipsesWhenNotShowingAllPageNumbers = true
            }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "bookingsList" }))
    </div>
}
else
{
    <p>No Booking Available</p>
}
