@model MechanicTracker.booking
@using MechanicTracker.Models;

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "CreateNewBooking" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Booking</legend>
<form id="CreateNewBooking">
        @Html.HiddenFor(model => model.BookingID)

        <div class="row">
        <div class="form-group">
            <label class="col-sm-4 control-label">@Html.LabelFor(model => model.car.Registration)</label>
            <div class="col-sm-2">
                <input type="hidden" name="">@Html.EditorFor(model => model.car.Registration)@Html.ValidationMessageFor(model => model.car.Registration)
            </div>
        </div>
        </div>

        <div class="row">
        <div class="form-group" style="">
            <label class="col-sm-4 control-label">@Html.LabelFor(model => model.car.model.make.MakeName)</label>
            <div id="carMake" class="col-sm-2">
                <select style="width:100px" onchange="selectMake(value)">
            <option >Select</option>
            @foreach ( MechanicTracker.make cm in @ViewBag.makes)
            {
               <option value="@cm.MakeID">@cm.MakeName</option>
               
            }
        </select>
            </div>
        </div>
        </div>

        <div class="row">
        <div class="form-group" style="">
            <label class="col-sm-4 control-label">@Html.LabelFor(model => model.car.model.ModelName)</label>
            <div class="col-sm-2" id="updatecarmodel">
                <select style="width:100px" >
            <option >Select</option>
            
        </select>
            </div>
        </div>
        </div>

        
        <div class="row">
        <div class="form-group" style="">
            <label class="col-sm-4 control-label">@Html.LabelFor(model => model.car.FuelType)</label>
            <div class="col-sm-2">
                <select>
                 @foreach ( MechanicTracker.car ft in @ViewBag.FuelType)
            {
               <option value="@ft.CarID">@ft.FuelType</option>
               
            }
                </select>
            </div>
        </div>
        </div>
            
@*            @Html.DropDownList("BookingID", new SelectList(ViewBag.FuelType, "BookingID", "FuelType"), new{@class="form-control"})*@
   
       <div class="row">
        <div class="form-group" style="">
            <label class="col-sm-4 control-label">@Html.LabelFor(model => model.Description)</label>
            <div class="col-sm-8">
                <input type="hidden">@Html.EditorFor(model => model.Description, new { cols = 35, @rows = 3 })
            </div>
        </div>
        </div><br />

  
<div class="label">Car Reg:</div>   
<div id="carRegList"></div>

        <p style="margin-top:20px;">
            <input class="btn btn-xs btn-danger" type="reset" value="Clear" />
            <span class="btn btn-xs btn-danger"  onclick="Createbooking()">Create Booking</span>
            <input type="submit"  onclick="Createbooking()" class="btn btn-xs btn-danger" />
        </p>
    </form>
       
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*
